@import url("./reset.css");
.container{
    margin-left: 150px;
    margin-right: 150px;
}
/* nav start */
.nav-wrapper{
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0px;
}
.nav-list{
    display: flex;
    column-gap: 50px;
}
.nav-icons{
    display: flex;
    column-gap: 24px;
    align-items: center;
}
/* nav end */


.header{
     display: flex;
    text-align: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    
}
h4{
    color: var(--maincolor);
    font-weight: 300;
}
.header-img{
    height: 50px;
}
.nav-img{
    display: flex;
    align-items: center;
    column-gap: 24px;

}
.mail{
   height: 20px;
   width: 20px;
   }
.shuffle {
    height: 20px;
   width: 20px;
}
.Union {
   height: 20px;
   width: 20px;
}
main{
   display: flex;
   align-items: center;
   column-gap: 50px;
}

.h1-left{
    text-align: left;
    width: 350px;
    font-weight: 500;
    color: var(--maincolor);
}
.span-left{
    color: #EE4248
}
.p-left{
   width: 450px;

}
.button-left{
    background: var(--secondarycolor);
    padding: 12px 32px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}
.image-left{

}
.info{
 
}
.imgworker{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
