@import url("./reset.css");
:root{
    --maincolor:#1F2E35;
    --secondarycolor: #EE4248;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
     font-family: "Roboto", sans-serif;

}

.header{
     display: flex;
    text-align: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    
}
h4{
    color: var(--maincolor);
    font-weight: 300;
}
.header-img{
    height: 50px;
    margin-left: 50px;
}
.nav-img{
    display: flex;
    align-items: center;
    column-gap: 24px;
    margin-right: 20px;

}
.mail{
   height: 20px;
   width: 20px;
   }
.shuffle {
    height: 20px;
   width: 20px;
}
.Union {
    height: 20px;
   width: 20px;
}
main{
   display: flex;
   align-items: center;
   column-gap: 50px;
}
.main-left{
     margin-left: 160px;
}
.h1-left{
    text-align: left;
    width: 350px;
    margin-top: 124px;
    font-weight: 500;
        color: var(--maincolor);
}
.span-left{
    color: #EE4248
}
.p-left{
   width: 450px;

}
.button-left{
    background: var(--secondarycolor);
    padding: 12px 32px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}
.image-left{
    margin-top: 209px;
}